<h1>{{title}}</h1>
<form id="reviewForm" method="POST">
        <div id="alert"></div>
        <label for="ratingInput">Rating (1-5):</label>
        {{!-- <input type="number" id="ratingInput" name="ratingInput" min="1" max="5" required> --}}
        <select id='ratingInput' name='ratingInput' required>
            <option value=''>Select a rating</option>
            <option value='1'>1</option>
            <option value='2'>2</option>
            <option value='3'>3</option>
            <option value='4'>4</option>
            <option value='5'>5</option>
        </select>

        <label for="reviewInput">Review:</label>
        <textarea id="reviewInput" name="reviewInput" required></textarea>

        <button type="submit">Submit Review</button>
</form>
<script src="/public/js/reviews.js"></script>