<title> {{title}} </title>

{{!-- if the user has entered anything wrong, itll show the error they had --}}
{{#if error}}
    <div id="error"><p>{{error}}</p></div>
    <a href="/groups/create">Try Again</a>

{{else}}
    {{!-- no errors --}}
    <h1>Create a Group!</h1>
    <p>Please make sure to fill out every field!</p>

    {{!-- going to homepage route upon successful creation of a group --}}
    <form action="/groups/create" method="POST">
        <label for="groupName">
            Group Name:
            <input type="text" name="groupName" id="groupName">
            <p>Name your group!</p>
        </label>

        <br> {{!-- need these between them to hace them show up on separate lines, can probably be removed and handled with CSS later anyway --}}

        <label for="groupUsername">
            Group Username:
            <input type="text" name="groupUsername" id="groupUsername">
            <p>This will be the username for your group. Required for people to join it.</p>
        </label>

        <br>

        <label for="groupDescription">
            Group Description:
            <input type="text" name="groupDescription" id="groupDescription">
            <p>Describe your group!</p>
        </label>

        <br>

        <label for="zipCode">
            Zip Code:
            <input type="text" name="zipCode" id="zipCode">
            <p>Enter your zipcode.</p>
        </label>

        <br>

        <label for="radius">
            Radius:
            <select name="radius" id="radius">
                <option value="1">1</option>
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
                <option value="250">250</option>
                <option value="500">500</option>
                <option value="1000">1000</option>
            </select>
            <p>Choose your radius (in miles) on how far you're willing to search for roommates.</p>
        </label>

        <br>

        <label for="budget">
            Budget:
            <input type="text" name="budget" id="budget">
            <p>Enter any number from 0-50000.</p>
        </label>

        <br>

        <label for="genderPreference">
            Gender Preference:
            <input type="text" name="genderPreference" id="genderPreference">
            <p>Enter M, F, or O (other).</p>
        </label>

        <br>

        <label for="groupPassword">
            Group Password:
            <input type="text" name="groupPassword" id="groupPassword">
            <p>This will be the password for your group. Required for people to join it.</p>
        </label>

        <br>
        
        <input type="submit">
    </form>

    {{!-- upon successful group creation, implicitly add the user to the group they just made, aka they dont enter any kind of userId themselves obv --}}

<script src="../public/js/createGroup.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"
    integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
{{/if}}