<!DOCTYPE html>
<html lang="en">
   <head>
    <meta charset="UTF-8">
     <title>  </title>
     <link rel='stylesheet' href='css/homepage.css'>
    </head>


<!--1. Plan on implementing banner on top w/ group profile picture (canvas) based off groupID-->





<!--2. Plan on implementing Welcome message with group name and maybe each of their profile pics lined up? -->


<!--3. Plan on implementing edit profile menu which will allow user to update group info, etc. -->


<!--4. Plan on drop-down menu with different sorting methods (age, gender, etc.) -->
<!--
    form method="POST" id="myForm">
        <label id = "formLabel">
        Palindrome List:</label>
    <input type = "text" id = "sorting_filter" name = "sorting_filter">
    <button type="submit">Check</button>
-->

<div class="dropdown">
  <button class="dropbtn">Dropdown</button>
  <div class="dropdown-content">
    <a href="#">Link 1</a>
    <a href="#">Link 2</a>
    <a href="#">Link 3</a>
  </div>
</div>


<!--5. Plan on adding gear icon on top right corner of menu which will render the view of user to settings.handlebars -->


<!--6. Each roomante group will have a rectangle that shows their group profile page, their bio, and member information -->



<!-- Script that re-renders homepage if certain sorting filter is applied -->
<script src ='scripts/homeagescript.js'></script>