<title> {{title}} </title>

{{!-- if the user has entered anything wrong, itll show the error they had --}}
{{#if error}}
    <div id="error"><p>{{error}}</p></div>

{{else}}
    {{!-- no errors --}}
    <h1>Join a Group!</h1>
    <p>Please enter a group password that you know of in order to join that group!</p>

    {{!-- going to homepage route upon successful joining of a group --}}
    <form action="/" method="POST">
            Group Password:
            <input type="text" name="groupPassword" id="groupPassword">
        </label>
        <input type="submit">
    </form>


{{/if}}