<h1>{{title}}</h1>

<form action="/login" method="POST" class="login-form" id="login-form">
            <div class="form-group">
                <label for="emailAddressInput">Email</label>
                <input type="email" id="emailAddressInput" name="emailAddressInput" placeholder="Enter your email" required>
            </div>
            <div class="form-group">
                <label for="passwordInput">Password</label>
                <input type="password" id="passwordInput" name="passwordInput" placeholder="Enter your password" required>
            </div>
            <button type="submit">Login</button>
            <div id="error" class="error-msg" hidden></div>
            {{#if emptyInput}}
                <p class="error">{{errorMsg}}</p>
            {{/if}}
        </form>
        <div class="login-footer">
            <p>Don't have an account? <a href="/register">Register here</a>.</p>
        </div>

