/* You will create a CSS stylesheet in /public/css/styles.css; this file should have at least 5 rulesets.  You will need to utilize all 5 rulesets on each of the pages (not every page has to use all 5 rulesets each but all 5 rulesets must be utilized by the various pages in your application).  So you can have some rulesets for one page, some for another page but there needs to be at least 5 total rulesets that are used between all the pages.  */
form
{
    text-align: center;
    color:azure;
    width: 20%;
    margin: 0 auto; 
    width:250px;
    padding-bottom: 25px;

}

div
{
    padding-bottom: 10px;
}

p.double 
{
    border-style: double;
}

.border {
    font-size: 30px;
    text-align: center;
    -webkit-text-stroke: 2px red;
  }


#form-wrapper
{
    height:100%;
    flex: 1 1 auto;
    margin:0 auto;
    display:block;
}

.error
{
    text-align:center
}



/*Implemented from: https://stackoverflow.com/questions/1281403/place-input-box-at-the-center-of-div*/
.button
{
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
}

h1
{
    text-align: center;
}

h2
{
    text-align: center;
}

a
{
    text-align:center;
    display:block;
    padding-bottom: 10px;
}

body 
{
	background-color: lightblue;
	font-family: Palatino, URW Palladio L, serif;
}


/*Implemented from: https://www.w3schools.com/howto/howto_css_login_form.asp*/
input[type=email]{
    width: 100%;
    text-align:center;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

 input[type=password] {
    width: 100%;
    text-align:center;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  input[type=text]{
    width: 100%;
    text-align:center;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }



  

